# Port number
PORT=8000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/node-boilerplate

#SQL

# MySQL DB
MYSQL_HOST=127.0.0.1
MYSQL_USER=root
MYSQL_PASSWORD=ok@12345
MYSQL_DATABASE=househunt

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com



#Twillio Acoount Step
# Twilio
TWILIO_ACCOUNT_SID=ACc580e2d3960ad821f8b6b4aa1ac1c06e
TWILIO_AUTH_TOKEN=3e0970b10e780b4f8484deb3f5b565a1
TWILIO_PHONE_NUMBER=+19145408201
